/* Base styles */
:root {
  --yellow: #ffc600;
  --black: #272727;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
      display: none;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.33);
  border-radius: 2px;
}

::-webkit-scrollbar-track:horizontal {
      display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.03);
  border-radius: 2px;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("./images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 20px);
  margin: 10px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

/* Each item in our grid will contain numbers */
.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  font-size: 35px;
  color: white;
  background-color: rgba(255, 255, 255, 0.03)
}

.item p {
  font-size: 13px;
  margin: 0 0 5px 0;
  color: rgb(153, 205, 218);
}

.item #cbh,#cbs,#clt,#cgp {
  font-size: 18px;
  margin: 0 0 5px 0;
}

/* top-level app layout */
.container {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 7px;
  grid-template-columns: 150px 4fr 6fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  "state state address"
  "action list list";
}

.state {
  grid-area: state;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "tblockheight tblockstamp tlocaltime tgasprice"
  "blockheight  blockstamp localtime  gasprice";
}

.tblockheight {
  grid-area: tblockheight;
  height: 100%;
}

.tblockstamp {
  grid-area: tblockstamp;
  height: 100%;
}

.tlocaltime {
  grid-area: tlocaltime;
  height: 100%;
}

.tgasprice {
  grid-area: tgasprice;
  height: 100%;
}

.blockheight {
  grid-area: blockheight;
  height: 100%;
}

.blockstamp {
  grid-area: blockstamp;
  height: 100%;
}

.localtime {
  grid-area: localtime;
  height: 100%;
}

.gasprice {
  grid-area: gasprice;
  height: 100%;
}

.list {
  display: grid;
  overflow-y: scroll;
  grid-area: list;
}

.address {
  height: 100%;
  grid-area: address;
  display: grid;
  grid-template-columns: 9fr 100px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "dropdown icon"
    "qbalance icon";
    grid-gap: 5px;
}

.avatar {
  grid-area: icon;
  border: 4px solid rgba(0,0,0,0.13);
  border-radius: 25em; 
  width: 100%; 
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.quickbalance {
  display: grid;
  grid-area: qbalance;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-areas: 
    "titleEth balanceEth titleERC20 balanceERC20";
  height: 100%;
}

.tEth {
  grid-area: titleEth;
}

.dropdown {
  grid-area: dropdown;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0,0,0,0.03);
  height: 100%;
  width: 100%;
}

.berc20 {
  grid-area: balanceERC20;
  width: "100%";
  border: 5px solid rgba(0,0,0,0.03);
}

.action {
  grid-area: action;
}

.Dropdown-root {
  position: relative;
  width: 100%;
  display: inline-block;
  font-family: fixed;
  font-size: 16px;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}