{
  "presets": [
    "env",
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "dynamic-import-node",
    "babel-plugin-transform-es2015-modules-commonjs"
  ]
}
